* {
  font-size: 12px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #000;
  text-decoration: none;
}
li {
  list-style: none;
}
html, body {
  height: 100%;
  position: relative;
}
main {
  height: calc(100% - 50px);
  background-color: #fff;
  overflow-x: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /*ios 上增加弹性*/
}
section {
  display: none;
}
section:first-child {
  display: block;
}
footer {
  position: absolute;
  bottom: 0;
  border-top: 1px solid #ccc;
  width: 100%;
  height: 50px;
}
footer ul {
  display: flex;
}
footer li {
  flex: 1;
  text-align: center;
}
footer span {
  display: block;
  padding-top: 5px;
}
li.active {
  color: #ff5722;
}
.item {
  border-bottom: 1px solid #ccc;
}
.item>a {
  display: block;
  display: flex;
}
.top250 .cover {
  padding:10px;
}
.top250 .cover img {
  height: 120px;
}
.detail {
  flex: 1;
  line-height: 1.2em;
  padding-top: 10px;
  padding-bottom:10px;
}
.detail h3 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.detail div {
  color: #777;
  padding-top: 5px;
}
.detail .score {
  color: #ff5722;
}
.loading {
  text-align: center;
  padding: 5px;
  display: none;
}
@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg);  }
}
.loading .iconfont{
  display: inline-block;
  animation: 1s rotate linear infinite;
}
.search>div {
  border-bottom: 1px solid #ccc;
}
.search form {
  display: flex;
  margin: 10px;
}
.search .searchContent {
  flex: 1;
  height: 25px;
  padding: 5px;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-right: 20px;
  background-color: #eee;
}
.search .searchButton {
  color: #fff;
  height: 25px;
  padding: 5px 20px;
  border: 1px solid #ff5722;
  border-radius: 5px;
  background-color: #ff5722;
}
